<div class="jumbotron">
  <h2>Chess</h2>
  <p class="lead">A chess engine built with the Phoenix web framework</p>

  <%= link "Login",    to: "/login", class: "btn btn-default" %>
  <%= link "Create an account", to: registration_path(@conn, :new), class: "btn btn-default" %>
</div>
